<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Fall 2023, Sections 002
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2
</span>
</center></i>

# Introduction

This notebook contains HW2. **Both Programming and Nonprogramming tracks should complete this part.** To ensure everything runs as expected, work on this notebook in Jupyter.

Submission instructions:

* You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
* For the PDF:
    * The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    * **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
* For the ZIP:
    * Zip a folder containing this notebook and any screenshots.
* Further submission instructions may be posted on Edstem.

# Setup

In [1]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost
%sql SELECT 1

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(1,)]

In [2]:
import csv
import copy

import pandas as pd
import pymysql

In [3]:
sql_conn = pymysql.connect(
    user="root",
    password="dbuserdbuser",
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

cur = sql_conn.cursor()
res = cur.execute("SELECT 1")
res = cur.fetchall()
res

[{'1': 1}]

# Written Questions

## W1

Codd's Third Rule states, "Null values (distinct from the empty character string or a string of blank characters and distinct from zero or any other number) are supported in fully relational DBMS for representing missing information and inapplicable information in a systematic way, independent of data type."

Briefly explain the value of this rule and provide two examples.

Answer:

The value of this rule is that the DBMS must be able to allow each field in the table to remain empty while avoiding data inconsistency and ensuring operations produce the right results, as NULL may have one or more meanings (e.g. missing, not known, not applicable)

One example is when we have an 'email' field in a 'customer' table, but not all customers provided an email, so we should leave the field NULL when we don't have the info, instead of storing a default or garbage value.

Another example is when we have 'end_date' in an 'employee' table representing the date they left the job. We should leave this field NULL for current employees in order to avoid false info or inconsistency about their job statuses.

## W2

Codd's 6th rule states, "All views that are theoretically updatable are also updatable by the system."

Using the following table definition, use SQL (```CREATE VIEW```) to define:
1. Two views of the table that are theoretically not possible to update.
2. One view that is theoretically possible to update.

You do not need to execute the create statement. We are focusing on your understanding.


```
create table midterm_students
(
	social_security_no char(9) not null
		primary key,
	last_name varchar(64) null,
	first_name varchar(64) null,
	enrollment_year year null,
	total_credits int null
);
```

Answer:

1. If the view uses aggregate functions, it is theoretically not possible to update. Here avg_credits is such a column.

```
create view view_avg_credits as
select midterm_students.enrollment_year,
    avg(midterm_employees.total_credits) as avg_credits
from midterm_students
group by midterm_students.enrollment_year;
```

2. If the view refers to only literal values, it is theoretically not possible to update. Here number is such a column.

```
create view num as
select 123 as number;
```

3. If the view only contains simple columns without aggregates, duplicate names, etc., it is theoretically possible to update. Here first_name is such a column.

```
create view student_details as
select social_security_no, last_name, first name
from midterm_students;
```

## W3

In the Columbia University [directory of classes](http://www.columbia.edu/cu/bulletin/uwb/#/cu/bulletin/uwb/subj/COMS/W4111-20233-002), the "Section Key" for this course is ```20233COMS4111W002```.

- Explain why having a column ```section_key varchar(17)``` that holds section key values is non-atomic.
- Give two explanations for why using the section key (non-atomic data) for a column causes problems.

Answer:

This column is non-atomic because it holds a number of individual components contained within one string, such as the year (2023), department (COMS), and the section number (002). This makes the string divisible and non-atomic.

This causes problems because it is difficult when we want to find all classes from one department, as we have to parse each section key for every row to extract department info. Another reason is that when we want to update the course number (4111) because of administrative issues, we will have to update every row of the table that contains the affected course number, which could possibly lead to inconsistencies.

## W4

Briefly explain the differences between

- Database stored procedures
- Database functions
- Database triggers

Answer:

A database stored procedure allows reuse of code and performs a task on the database entries, accepting parameters (can have in/out) and using them in its SQL statements.

A database function performs an operation on its input and returns a value, similar to built-in functions like COUNT() or MAX() and can be used similarly.

A database trigger is a stored procedure that automatically executes when an event occurs in the database such as an insertion, update, or deletion. They are used to enforce rules, validate data, etc.

## W5

Consider the `db_book` schema, which we have used in class and previous HWs.

1. Is any entity type in the schema a _weak entity_? If yes, list one of them.
2. In database design, using ```ON DELETE CASCADE``` may not be desired behavior/design. Why is it more likely that ```ON DELETE CASCADE``` is the correct behavior for weak entities when the referenced row is deleted?

Answer:

1. Yes, a weak entity in this schema is `section`. This is because its composite primary key includes `course_id` which is a foreign key referencing the `course` entity, which indicates that the existence of a `section` entity is dependent on the existence of a `course` entity.

2. Using `ON DELETE CASCADE` may be better for weak entities because they are dependent on the existence of another entity, so when that other entity is deleted, it makes sence that the weak entity should also be deleted.

## W6

Briefly explain the differences between:
1. _Candidate Key_ and _Super Key_
2. _Primary Key_ and _Unique Key_
3. _Natural Key_ and _Surrogate Key_

Answer:

1. A super key is a set of one or more attributes that uniquely identify a record in a table, while a candidate is a minimal super key, meaning that a candidate key has the minimum number of attributes required to identify a record uniquely.

2. A primary key is chosen to index into and uniquely identify table records. There is only one primary key in a table, and it cannot contain NULL values. While a unique key can also uniquely identify table records, it can have NULL values and there can be multiple unique keys in a table.

3. A natural key is a type of unique key that contains real-world data such as SSN or email addresses, while a surrogate key is a type of unique key that is generated from the system and has no real-world meaning.

## W7

1. Briefly explain the concept of a _database cursor_.
2. Why is using a cursor helpful for applications processing database information?

Answer:

1. A database cursor allows us to traverse over rows one by one, like a pointer to one row in a set of rows.

2. A cursor is helpful for applications since it allows processing the data row by row, making queries simpler, helpful in dealing with large datasets by reducing system load, and can lock a record in the table when being processed to prevent data inconsistency.

## W8

Give two reasons for using an associate entity to implement a relationship instead of a foreign key.

Answer:

1. In many-to-many relationships, an associate entity is needed to capture all combinations of relationships. In this case, a foreign key isn't sufficient because each record could correspond to multiple records in the other table.

2. An associate entity can also store additional data about the relationship, such as the time period, status, outcome, etc.

## W9

Briefly explain the following data modeling concepts:

- Conceptual model
- Logical model
- Physical model

Answer:

- The conceptual model is the most abstract form of data model, providing a very high-level view of the entire system, outlining key entities and relationships. It is used to define the general scope of the database project.
- The logical model adds more info to the conceptual model, including all entities, attributes, relationships, primary keys, foreign keys, and contraints. It is still independent of specific implementation and focuses on data organization.
- The physical model is the most detailed, including all technical details required to implement the database, including data types, triggers, indices, etc.

## W10

Briefly explain the difference between _data definition language_ and _data manipulation language_.

Answer:

Data Definition Language (DDL) is a type of SQL command to define and manage database structures, including statements like CREATE, ALTER, and DROP. DDL does not modify the data itself, but the structure instead.

Data Manipulation Language (DML) is another type of SQL command used to modify the data inside database structures, including SELECT, INSERT, UPDATE, DELETE. DML directly modifies the data inside the DBMS, but does not change the database structure.

# DDL

- You have a logical ER diagram below.


- You need to use DDL to define a schema that realizes the model.


- Logical models are not specific enough for direct implementation. This means that:
    - You will have to assign concrete types to columns and choose things like ```GENERATED```, ```DEFAULT```, etc.
    - You have to make assumptions about things like ```NOT NULL```.
    - You may have to make other design and implementation choices. **This means that there is no single correct answer.**
    
    
- In addition to the key constraints, you must also implement the following constraints:
    - `id` values must be an auto-incrementing integer
    - ```email``` must contain an ```@``` and end in ```.edu```
    - `rank` must be one of `Member` or `Admin`
    - ```num_stars``` must be between 1 and 5

| <img src="./book_club_er.png"> |
| :---: |
| __ER Diagram__ |

_Design Decisions, Notes, etc._ Document any assumption or decisions.

1. `rank` is a keyword in SQL, so in the `member` table, it is replaced with `member_rank`.

Execute your DDL in the cell below.

In [4]:
%%sql

DROP SCHEMA IF EXISTS f23_hw2_er;
CREATE SCHEMA f23_hw2_er;
USE f23_hw2_er;

 * mysql+pymysql://root:***@localhost
6 rows affected.
1 rows affected.
0 rows affected.

[]

In [5]:
%%sql

create table user (
    email varchar(50) check (email like '%@%.edu'),
	first_name varchar(50),
	last_name varchar(50),
	primary key (email)
);

create table author (
    id int auto_increment,
	first_name varchar(50),
	last_name varchar(50),
    biography varchar(500),
	primary key (id)
);

create table book (
    id int auto_increment,
    author int,
	title varchar(50),
	description varchar(500),
    publish_date date,
	primary key (id),
	foreign key (author) references author (id)
);

create table bookclub (
    id int auto_increment,
    book int,
	start_date date,
	end_date date,
	primary key (id),
	foreign key (book) references book (id)
);

create table review (
    user varchar(50),
    book int,
	num_stars float check (num_stars >= 1.0 and num_stars <= 5.0),
	description varchar(500),
	primary key (user, book),
	foreign key (user) references user (email),
    foreign key (book) references book (id)
);

create table member (
    user varchar(50),
    book_club int,
	member_rank enum('Member', 'Admin'),
	primary key (user, book_club),
	foreign key (user) references user (email),
    foreign key (book_club) references bookclub (id)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

# SQL

## Overview

- The directory contains a file ```people_info.csv```. The columns are
    - ```first_name```
    - ```middle_name```
    - ```last_name```
    - ```email```
    - ```employee_type,``` which can be one of ```Professor```, ```Lecturer```, ```Staff```. The value is empty if the person is a student.
    - ```enrollment_year``` which must be in the range ```2016-2023```. The value is empty if the person is an employee.
    

- If ```enrollment_year``` is not NULL, the person is a ```Student``` and ```employee_type``` must be NULL. If ```employee_type``` is not NULL, then the person is a ```Employee``` and ```enrollment_year``` must be NULL.


- You must implement a [two-table](https://vertabelo.com/blog/inheritance-in-a-relational-database/) solution to the inheritance pattern. This means that your solution will have tables ```student``` and ```employee```, and have a view ```people```.


- **You must demonstrate correct implementation by loading the data, using select statements, attempting insert/update/delete, ...**

In [6]:
%%sql

DROP SCHEMA IF EXISTS f23_hw2;
CREATE SCHEMA f23_hw2;
USE f23_hw2;

 * mysql+pymysql://root:***@localhost
3 rows affected.
1 rows affected.
0 rows affected.

[]

## Tables and View

- You must implement the two tables and view, including reasonable data types and constraints. **This must include an additional column ```uni``` that we explain below.** You may add additional columns and triggers if that helps.
    1. `uni` is the primary key.
    2. ```employee_type``` must be one of ```Professor```, ```Lecturer```, ```Staff```.
    3. ```enrollment_year``` must be in the range ```2016-2023``` inclusive.
    4. Only ```middle_name``` can be null.
    5. ```email``` must be unique over both ```student``` and ```employee```. Note that this constraint should be checked when inserting new rows _and_ updating existing rows.

In [7]:
%%sql

create table student (
	uni varchar(10) not null,
	first_name varchar(255) not null,
	middle_name varchar(255) null,
	last_name varchar(255) not null,
    email varchar(255) not null unique,
	enrollment_year int not null check (enrollment_year >= 2016 and enrollment_year <= 2023),
	primary key (uni)
);

create table employee (
	uni varchar(10) not null,
	first_name varchar(255) not null,
	middle_name varchar(255) null,
	last_name varchar(255) not null,
    email varchar(255) not null unique,
	employee_type enum ('Professor', 'Lecturer', 'Staff') not null,
	primary key (uni)
);

create trigger student_email_unique before insert on student
for each row begin
	declare c int;
	select count(*) into c from employee where email = new.email;
	if (c > 0) then
		set new.email = null;
	end if;
end;

create trigger employee_email_unique before insert on employee
for each row begin
	declare c int;
	select count(*) into c from student where email = new.email;
	if (c > 0) then
		set new.email = null;
	end if;
end;

create view people (uni, first_name, middle_name, last_name, email, employee_type, enrollment_year) as
select uni, first_name, middle_name, last_name, email, null, enrollment_year from student
union all
select uni, first_name, middle_name, last_name, email, employee_type, null from employee;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## UNI

- `uni`:
    1. Must be of the form `fml####`, where `f` is the first letter (lowercased) of the first name, `m` is the first letter of the middle name (if not NULL), `l` is the first letter of the last name, and `#` is a number.
    2. For any combination of letters, the numbers following the letters must start at 1 and increase. That is, `dff0001`, `ab0001`, `dff0002`, `cd0001`, `cad0001`, `cd0002`, ...
    3. You must implement a function to generate the ```uni```.
    4. You must implement triggers on the relevant tables to automatically set the ```uni``` during an insert.
    5. You must implement triggers that adjust the `uni` if a person's initials change during an update.
    6. You must implement logic that prevent inserts from directly setting the `uni` and updates from directly changing the ```uni```.

In [8]:
%%sql

create function generate_uni(first_name varchar(255), middle_name varchar(255), last_name varchar(255))
returns varchar(10) deterministic
begin
    declare prefix varchar(3);
    declare suffix int default 1;
    declare result varchar(8);

    set prefix = concat(
        lower(substring(first_name, 1, 1)),
        if(middle_name is null, '', lower(substring(middle_name, 1, 1))),
        lower(substring(last_name, 1, 1))
    );

    select count(uni) into suffix from people where uni like concat(prefix, '____');
    set suffix = suffix + 1;

    set result = concat(prefix, lpad(suffix, 4, '0'));

    return result;
end;

create trigger student_set_uni_insert before insert on student
for each row set new.uni = generate_uni(new.first_name, new.middle_name, new.last_name);

create trigger employee_set_uni_insert before insert on employee
for each row set new.uni = generate_uni(new.first_name, new.middle_name, new.last_name);

create trigger student_set_uni_update before update on student
for each row
begin
    if old.uni != new.uni then
        set new.uni = old.uni;
    end if;
    if old.first_name != new.first_name
        or old.middle_name != new.middle_name
        or old.last_name != new.last_name then
        set new.uni = generate_uni(new.first_name, new.middle_name, new.last_name);
    end if;
end;

create trigger employee_set_uni_update before update on employee
for each row
begin
    if old.uni != new.uni then
        set new.uni = old.uni;
    end if;
    if old.first_name != new.first_name
        or old.middle_name != new.middle_name
        or old.last_name != new.last_name then
        set new.uni = generate_uni(new.first_name, new.middle_name, new.last_name);
    end if;
end;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Procedures

- You must implement four stored procedures. The implementations of the four procedures are almost identical.
    1. The procedures are:
        1. `create_student(first_name, middle_name, last_name, email, enrollment_year, uni)`
        2. `create_employee(first_name, middle_name, last_name, email, employee_type, uni)`
        3. `update_student(uni, first_name, middle_name, last_name, email, enrollment_year)`
        4. `update_employee(uni, first_name, middle_name, last_name, email, employee_type)`
    2. For updates, the procedures ignore input parameters that are NULL and only apply the non-NULL values. The procedures do not update the ```uni```.
    3. The create procedures return the ```uni``` as an out value.

In [9]:
%%sql

create procedure create_student(
    in first_name_p varchar(255),
    in middle_name_p varchar(255),
    in last_name_p varchar(255),
    in email_p varchar(255),
    in enrollment_year_p int,
    out uni_p varchar(10))
begin
    insert into student (first_name, middle_name, last_name, email, enrollment_year) 
        values (first_name_p, middle_name_p, last_name_p, email_p, enrollment_year_p);
    set uni_p = (select uni from student where email = email_p and enrollment_year = enrollment_year_p);
end;

create procedure create_employee(
    in first_name_p varchar(255),
    in middle_name_p varchar(255),
    in last_name_p varchar(255),
    in email_p varchar(255),
    in employee_type_p enum('Professor', 'Lecturer', 'Staff'),
    out uni_p varchar(10))
begin
    insert into employee (first_name, middle_name, last_name, email, employee_type) 
        values (first_name_p, middle_name_p, last_name_p, email_p, employee_type_p);
    set uni_p = (select uni from employee where email = email_p and employee_type = employee_type_p);
end;

create procedure update_student(
    in uni_p varchar(10),
    in first_name_p varchar(255),
    in middle_name_p varchar(255),
    in last_name_p varchar(255),
    in email_p varchar(255),
    in enrollment_year_p int)
begin
    update student
    set
        first_name = coalesce(first_name_p, first_name),
        middle_name = coalesce(middle_name_p, middle_name),
        last_name = coalesce(last_name_p, last_name),
        email = coalesce(email_p, email),
        enrollment_year = coalesce(enrollment_year_p, enrollment_year)
    where uni = uni_p;
end;

create procedure update_employee(
    in uni_p varchar(10),
    in first_name_p varchar(255),
    in middle_name_p varchar(255),
    in last_name_p varchar(255),
    in email_p varchar(255),
    in employee_type_p enum('Professor', 'Lecturer', 'Staff'))
begin
    update employee
    set
        first_name = coalesce(first_name_p, first_name),
        middle_name = coalesce(middle_name_p, middle_name),
        last_name = coalesce(last_name_p, last_name),
        email = coalesce(email_p, email),
        employee_type = coalesce(employee_type_p, employee_type)
    where uni = uni_p;
end;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Security

- You must create a new user `general_user` and use security to allow it to perform only `SELECT` and `EXECUTE` operations (i.e., no ```INSERT```, ```DELETE```, and ```UPDATE``` operations).

In [10]:
%%sql

drop user if exists 'general_user'@'localhost';

create user 'general_user'@'localhost' identified by 'password';

grant select, execute on f23_hw2.* to 'general_user'@'localhost';

flush privileges;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Data Insertion

In [11]:
%%sql

# The following assumes that you have created everything properly

DELETE FROM f23_hw2.student;
DELETE FROM f23_hw2.employee;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.

[]

In [12]:
people_info = []
with open("people_info.csv", "r") as in_file:
    d_rdr = csv.DictReader(in_file)
    for r in d_rdr:
        people_info.append(dict(r))

people_info_df = pd.DataFrame(people_info)
people_info_df

,first_name,middle_name,last_name,email,employee_type,enrollment_year
0,Sanders,Arline,Breckell,abreckell1x@fotki.com,Professor,
1,Zared,,Fenelon,afenelona@themeforest.net,,2021
2,Ethelin,,Fidele,afidele12@google.ru,Lecturer,
3,Bibbye,Annabal,Guesford,aguesfordb@tumblr.com,,2018
4,Xenia,Ardella,Kief,akieft@free.fr,Staff,
...,...,...,...,...,...,...
95,Norry,,Rubinchik,trubinchik16@howstuffworks.com,,2016
96,Doug,,Medforth,vmedforth1o@homestead.com,Staff,
97,Gerty,,O'Donegan,vodoneganf@clickbank.net,,2020
98,Anabelle,Wallas,Quimby,wquimby1c@nba.com,,2022
99,Sasha,Win,Ruffli,wruffli2q@wordpress.com,Lecturer,

In [13]:
# If you have defined your procedures, functions, tables, and constraints correctly, you can use the function below
# to load your data.

def add_person(p):
    """
    p is a dictionary containing the column values for either a student or an employee.
    """
    
    cur = sql_conn.cursor()
    
    # This function changes the data, converting '' to None.
    # So, we make a copy and change the copy.
    p_dict = copy.copy(p)
    for k,v in p_dict.items():
        if v == '':
            p_dict[k] = None
    
    # Is the person a student?
    #
    if p_dict['employee_type'] is None:
        
        # This provides a hint for what your stored procedure will look like.
        res = cur.callproc("f23_hw2.create_student",
                           # The following are in parameters
                          (p_dict['first_name'],
                          p_dict['middle_name'],
                          p_dict['last_name'],
                           p_dict['email'],
                          p_dict['enrollment_year'],
                           # The following are out parameters for uni.
                          None))
        
        # After the procedure executes, the following query will select the out values.
        res = cur.execute("""SELECT @_f23_hw2.create_student_5""")
        result = cur.fetchall()
    
    # The following does the same for employee.
    elif p_dict['enrollment_year'] is None:
        res = cur.callproc("f23_hw2.create_employee",
                          (p_dict['first_name'],
                          p_dict['middle_name'],
                          p_dict['last_name'],
                           p_dict['email'],
                          p_dict['employee_type'],
                          None))
        res = cur.execute("""SELECT @_f23_hw2.create_student_5""")
        result = cur.fetchall()
    else:
        print("Something went wrong")
        result = None
    
    sql_conn.commit()
    cur.close()
    return result

In [14]:
for p in people_info:
    add_person(p)

In [15]:
# Test that we loaded people
%sql SELECT * FROM people

 * mysql+pymysql://root:***@localhost
100 rows affected.

[('aeb0001', 'Avie', 'Else', 'Blissitt', 'eblissitti@youtu.be', None, 2018),
 ('aha0001', 'Abbey', 'Helge', 'Anyene', 'hanyene2c@newsvine.com', None, 2019),
 ('awq0001', 'Anabelle', 'Wallas', 'Quimby', 'wquimby1c@nba.com', None, 2022),
 ('bag0001', 'Bibbye', 'Annabal', 'Guesford', 'aguesfordb@tumblr.com', None, 2018),
 ('bb0001', 'Base', None, 'Baybutt', 'bbaybutty@tmall.com', None, 2021),
 ('bce0001', 'Barry', 'Cullin', 'Elias', 'celias1k@scribd.com', None, 2018),
 ('bcm0001', 'Brigida', 'Cameron', 'Maclean', 'cmaclean13@mac.com', None, 2019),
 ('beg0001', 'Bank', 'Elane', 'Guerola', 'eguerola29@blogger.com', None, 2021),
 ('ceg0001', 'Courtnay', 'Elbert', 'Gillespie', 'egillespie2m@slideshare.net', None, 2020),
 ('cfh0001', 'Charline', 'Ferd', 'Hartell', 'fhartell1@meetup.com', None, 2020),
 ('cv0001', 'Carroll', None, 'Venables', 'rvenablesu@friendfeed.com', None, 2019),
 ('dap0001', 'Duffy', 'Auberon', 'Pounder', 'apounder2h@reuters.com', None, 2017),
 ('db0001', 'Dougy', None, 'Burchett', 'eburchettd@chicagotribune.com', None, 2022),
 ('dfr0001', 'Dyna', 'Felic', 'Rozenzweig', 'frozenzweig2i@rambler.ru', None, 2022),
 ('dkc0001', 'Dacey', 'Katuscha', 'Cranfield', 'kcranfield1s@nature.com', None, 2020),
 ('dm0001', 'Drona', None, 'McKinie', 'smckinie1a@springer.com', None, 2018),
 ('elh0001', 'Emili', 'Lynnet', 'Haddinton', 'lhaddintonn@over-blog.com', None, 2020),
 ('erc0001', 'Esra', 'Richard', 'Coghlin', 'rcoghlinv@qq.com', None, 2019),
 ('frg0001', 'Fredek', 'Raddie', 'Goudie', 'rgoudie5@blogs.com', None, 2022),
 ('gga0001', 'Granville', 'Guinevere', 'Adolphine', 'gadolphine11@instagram.com', None, 2017),
 ('go0001', 'Gerty', None, "O'Donegan", 'vodoneganf@clickbank.net', None, 2020),
 ('il0001', 'Ira', None, 'Linacre', 'jlinacreo@webnode.com', None, 2021),
 ('jbh0001', 'Jenine', 'Berry', 'Habberjam', 'bhabberjam2k@examiner.com', None, 2021),
 ('kcf0001', 'Kerwin', 'Conrade', 'Foort', 'cfoortw@vinaora.com', None, 2020),
 ('kg0001', 'Kermit', None, 'Glanders', 'dglanders15@booking.com', None, 2022),
 ('ksg0001', 'Kearney', 'Selie', 'Gino', 'sgino1l@bluehost.com', None, 2016),
 ('lgb0001', 'Leann', 'Gabriellia', 'Burdas', 'gburdas1i@indiegogo.com', None, 2021),
 ('lmi0001', 'Lynett', 'Myrwyn', 'Ionesco', 'mionesco2n@moonfruit.com', None, 2020),
 ('lot0001', 'Levey', 'Ottilie', 'Tomlins', 'otomlins27@icq.com', None, 2020),
 ('mji0001', 'Mal', 'Jermaine', 'Issett', 'jissett2e@freewebs.com', None, 2018),
 ('mrw0001', 'Meridel', 'Rawley', 'Willatts', 'rwillatts1t@si.edu', None, 2022),
 ('ng0001', 'Nonna', None, 'Gillanders', 'tgillanders9@example.com', None, 2021),
 ('nhr0001', 'Nickolai', 'Herby', 'Reddyhoff', 'hreddyhoff1g@vk.com', None, 2016),
 ('nr0001', 'Norry', None, 'Rubinchik', 'trubinchik16@howstuffworks.com', None, 2016),
 ('qt0001', 'Quent', None, 'Threadgall', 'cthreadgall1v@booking.com', None, 2022),
 ('rcc0001', 'Reece', 'Corbett', 'Caps', 'ccapsz@telegraph.co.uk', None, 2019),
 ('rv0001', 'Rozelle', None, 'Vigar', 'mvigar8@vistaprint.com', None, 2018),
 ('sgb0001', 'Shea', 'Gail', 'Bates', 'gbates1e@alibaba.com', None, 2018),
 ('ss0001', 'Sada', None, 'Stidson', 'gstidsonp@ebay.com', None, 2022),
 ('sss0001', 'Sterne', 'Sasha', 'Spooner', 'sspooner1f@wordpress.org', None, 2020),
 ('tgo0001', 'Tobiah', 'Gerek', 'Offield', 'goffield1u@addthis.com', None, 2020),
 ('tmc0001', 'Travis', 'Melba', 'Colbourne', 'mcolbourne2j@mapquest.com', None, 2017),
 ('tp0001', 'Trix', None, 'Pretswell', 'jpretswell1h@xrea.com', None, 2022),
 ('vcs0001', 'Veronika', 'Cordey', 'Simeons', 'csimeons2@microsoft.com', None, 2021),
 ('vem0001', 'Vincenty', 'Elisabeth', 'Marousek', 'emarousek10@huffingtonpost.com', None, 2020),
 ('vm0001', 'Vance', None, 'Maffioni', 'fmaffioni1r@amazon.com', None, 2020),
 ('wcm0001', 'Woodrow', 'Camile', 'Moughtin', 'cmoughtin17@illinois.edu', None, 2022),
 ('wk0001', 'Willi', None, 'Kerby', 'ekerby1p@amazon.com', None, 2020),
 ('ws0001', 'Winslow', None, 'Scrauniage', 'jscrauniage28@aol.com', None, 2017),
 ('zf0001', 'Zared', None, 'Fenelon', 'afenelona@themeforest.net', None, 2021),
 ('adw0001', 'Ailbert', 'Danie', 'Warmisham', 'dwarmishame@soundcloud.com', 'Staff', None),
 ('ars0001', 'Ari', 'Rheta', 'Sellek', 'rsellek6@oakley.com', 'Lecturer', None),
 ('brm0001', 'Bamby', 'Rubetta', 'Mabbs', 'rmabbs4@xing.com', 'Lecturer', None),
 ('bs0001', 'Bonny', None, 'Scheffel', 'lscheffel7@taobao.com', 'Professor', None),
 ('bsh0001', 'Bettina', 'Sonya', 'Higgonet', 'shiggonet2b@163.com', 'Lecturer', None),
 ('cal0001', 'Cari', 'Andriana', 'Leask', 'aleask1n@devhub.com', 'Lecturer', None),
 ('cg0001', 'Clim', None, 'Guislin', 'lguislin2o@chicagotribune.com', 'Professor', None),
 ('cmw0001', 'Carey', 'Maudie', 'Wyrall', 'mwyrallj@scientificamerican.com', 'Staff', None),
 ('cs0001', 'Christie', None, 'Siegertsz', 'hsiegertsz21@instagram.com', 'Professor', None),
 ('ct0001', 'Carmine', None, 'Tolman', 'gtolmanr@slideshare.net', 'Staff', None),
 ('da0001', 'Doyle', None, 'Aslin', 'jaslin24@redcross.org', 'Lecturer', None),
 ('dm0002', 'Doug', None, 'Medforth', 'vmedforth1o@homestead.com', 'Staff', None),
 ('dmw0001', 'Darrin', 'Mario', 'Wynrahame', 'mwynrahamem@admin.ch', 'Professor', None),
 ('dss0001', 'Duncan', 'Shellie', 'Sillars', 'ssillars2l@unicef.org', 'Professor', None),
 ('ef0001', 'Ethelin', None, 'Fidele', 'afidele12@google.ru', 'Lecturer', None),
 ('ekm0001', 'Electra', 'Krystle', 'Morfell', 'kmorfell2g@istockphoto.com', 'Professor', None),
 ('fm0001', 'Francene', None, 'MacNeely', 'nmacneely22@cpanel.net', 'Lecturer', None),
 ('gb0001', 'Gisela', None, 'Blagden', 'gblagden1q@buzzfeed.com', 'Professor', None),
 ('gp0001', 'Genni', None, 'Purbrick', 'lpurbrick25@canalblog.com', 'Professor', None),
 ('hdc0001', 'Hobart', 'Dominic', 'Croal', 'dcroalx@purevolume.com', 'Professor', None),
 ('hh0001', 'Holli', None, 'Henstridge', 'lhenstridgeh@sogou.com', 'Lecturer', None),
 ('jnb0001', 'Jacky', 'Nydia', 'Bolles', 'nbolles23@ucoz.ru', 'Staff', None),
 ('jsj0001', 'Jany', 'Sherry', 'Johl', 'sjohlg@soundcloud.com', 'Professor', None),
 ('kb0001', 'Karon', None, 'Bree', 'ebree1z@creativecommons.org', 'Professor', None),
 ('ki0001', 'Karole', None, 'Inkin', 'minkinc@google.de', 'Staff', None),
 ('km0001', 'Kristin', None, 'Malacrida', 'smalacrida1w@economist.com', 'Staff', None),
 ('kmp0001', 'Kahaleel', 'Meg', 'Penzer', 'mpenzer14@dailymail.co.uk', 'Professor', None),
 ('lbb0001', 'Lemmy', 'Burr', 'Bradnocke', 'bbradnockek@nifty.com', 'Lecturer', None),
 ('lcf0001', 'Lu', 'Cinnamon', 'Flaxman', 'cflaxman1b@cdbaby.com', 'Lecturer', None),
 ('lef0001', 'Lelah', 'Ellette', 'Fulk', 'efulk1d@discuz.net', 'Staff', None),
 ('ls0001', 'Lilllie', None, 'Snodin', 'jsnodin20@princeton.edu', 'Lecturer', None),
 ('mdf0001', 'Marylin', 'Darcy', 'Favey', 'dfavey2p@mozilla.com', 'Staff', None),
 ('mec0001', 'Maybelle', 'Esteban', 'Cella', 'ecella26@mail.ru', 'Staff', None),
 ('mk0001', 'Meghan', None, 'Kleinschmidt', 'lkleinschmidtl@squarespace.com', 'Lecturer', None),
 ('mks0001', 'Matthieu', 'Kalle', 'Slipper', 'kslipper2f@nytimes.com', 'Staff', None),
 ('mt0001', 'Mendie', None, 'Tennick', 'ltennick3@aboutads.info', 'Staff', None),
 ('ngf0001', 'Niki', 'Gardiner', 'Form', 'gform18@blogger.com', 'Staff', None),
 ('nt0001', 'Nadia', None, 'Trehearn', 'ktrehearn19@tinyurl.com', 'Lecturer', None),
 ('oh0001', 'Olwen', None, 'Hedley', 'jhedley1m@disqus.com', 'Staff', None),
 ('pl0001', 'Pattie', None, 'Lyles', 'slyles1j@amazon.de', 'Staff', None),
 ('rjc0001', 'Robinett', 'Jami', 'Charte', 'jcharte1y@merriam-webster.com', 'Staff', None),
 ('rjp0001', 'Renae', 'Jaquith', 'Plessing', 'jplessing0@samsung.com', 'Staff', None),
 ('sab0001', 'Sanders', 'Arline', 'Breckell', 'abreckell1x@fotki.com', 'Professor', None),
 ('sbl0001', 'Sibylle', 'Bearnard', 'Lalley', 'blalley2d@rediff.com', 'Lecturer', None),
 ('sh0001', 'Suki', None, 'Hellyar', 'ghellyar2a@cornell.edu', 'Staff', None),
 ('skm0001', 'Sayers', 'Karon', 'McKnish', 'kmcknishs@reddit.com', 'Lecturer', None),
 ('swr0001', 'Sasha', 'Win', 'Ruffli', 'wruffli2q@wordpress.com', 'Lecturer', None),
 ('wy0001', 'Wells', None, 'Yousef', 'gyousef2r@spotify.com', 'Professor', None),
 ('xak0001', 'Xenia', 'Ardella', 'Kief', 'akieft@free.fr', 'Staff', None),
 ('ysm0001', 'Yehudi', 'Sile', 'McColley', 'smccolleyq@amazon.com', 'Staff', None)]

In [16]:
# Test that we loaded students
%sql SELECT * FROM student

 * mysql+pymysql://root:***@localhost
50 rows affected.

[('aeb0001', 'Avie', 'Else', 'Blissitt', 'eblissitti@youtu.be', 2018),
 ('aha0001', 'Abbey', 'Helge', 'Anyene', 'hanyene2c@newsvine.com', 2019),
 ('awq0001', 'Anabelle', 'Wallas', 'Quimby', 'wquimby1c@nba.com', 2022),
 ('bag0001', 'Bibbye', 'Annabal', 'Guesford', 'aguesfordb@tumblr.com', 2018),
 ('bb0001', 'Base', None, 'Baybutt', 'bbaybutty@tmall.com', 2021),
 ('bce0001', 'Barry', 'Cullin', 'Elias', 'celias1k@scribd.com', 2018),
 ('bcm0001', 'Brigida', 'Cameron', 'Maclean', 'cmaclean13@mac.com', 2019),
 ('beg0001', 'Bank', 'Elane', 'Guerola', 'eguerola29@blogger.com', 2021),
 ('ceg0001', 'Courtnay', 'Elbert', 'Gillespie', 'egillespie2m@slideshare.net', 2020),
 ('cfh0001', 'Charline', 'Ferd', 'Hartell', 'fhartell1@meetup.com', 2020),
 ('cv0001', 'Carroll', None, 'Venables', 'rvenablesu@friendfeed.com', 2019),
 ('dap0001', 'Duffy', 'Auberon', 'Pounder', 'apounder2h@reuters.com', 2017),
 ('db0001', 'Dougy', None, 'Burchett', 'eburchettd@chicagotribune.com', 2022),
 ('dfr0001', 'Dyna', 'Felic', 'Rozenzweig', 'frozenzweig2i@rambler.ru', 2022),
 ('dkc0001', 'Dacey', 'Katuscha', 'Cranfield', 'kcranfield1s@nature.com', 2020),
 ('dm0001', 'Drona', None, 'McKinie', 'smckinie1a@springer.com', 2018),
 ('elh0001', 'Emili', 'Lynnet', 'Haddinton', 'lhaddintonn@over-blog.com', 2020),
 ('erc0001', 'Esra', 'Richard', 'Coghlin', 'rcoghlinv@qq.com', 2019),
 ('frg0001', 'Fredek', 'Raddie', 'Goudie', 'rgoudie5@blogs.com', 2022),
 ('gga0001', 'Granville', 'Guinevere', 'Adolphine', 'gadolphine11@instagram.com', 2017),
 ('go0001', 'Gerty', None, "O'Donegan", 'vodoneganf@clickbank.net', 2020),
 ('il0001', 'Ira', None, 'Linacre', 'jlinacreo@webnode.com', 2021),
 ('jbh0001', 'Jenine', 'Berry', 'Habberjam', 'bhabberjam2k@examiner.com', 2021),
 ('kcf0001', 'Kerwin', 'Conrade', 'Foort', 'cfoortw@vinaora.com', 2020),
 ('kg0001', 'Kermit', None, 'Glanders', 'dglanders15@booking.com', 2022),
 ('ksg0001', 'Kearney', 'Selie', 'Gino', 'sgino1l@bluehost.com', 2016),
 ('lgb0001', 'Leann', 'Gabriellia', 'Burdas', 'gburdas1i@indiegogo.com', 2021),
 ('lmi0001', 'Lynett', 'Myrwyn', 'Ionesco', 'mionesco2n@moonfruit.com', 2020),
 ('lot0001', 'Levey', 'Ottilie', 'Tomlins', 'otomlins27@icq.com', 2020),
 ('mji0001', 'Mal', 'Jermaine', 'Issett', 'jissett2e@freewebs.com', 2018),
 ('mrw0001', 'Meridel', 'Rawley', 'Willatts', 'rwillatts1t@si.edu', 2022),
 ('ng0001', 'Nonna', None, 'Gillanders', 'tgillanders9@example.com', 2021),
 ('nhr0001', 'Nickolai', 'Herby', 'Reddyhoff', 'hreddyhoff1g@vk.com', 2016),
 ('nr0001', 'Norry', None, 'Rubinchik', 'trubinchik16@howstuffworks.com', 2016),
 ('qt0001', 'Quent', None, 'Threadgall', 'cthreadgall1v@booking.com', 2022),
 ('rcc0001', 'Reece', 'Corbett', 'Caps', 'ccapsz@telegraph.co.uk', 2019),
 ('rv0001', 'Rozelle', None, 'Vigar', 'mvigar8@vistaprint.com', 2018),
 ('sgb0001', 'Shea', 'Gail', 'Bates', 'gbates1e@alibaba.com', 2018),
 ('ss0001', 'Sada', None, 'Stidson', 'gstidsonp@ebay.com', 2022),
 ('sss0001', 'Sterne', 'Sasha', 'Spooner', 'sspooner1f@wordpress.org', 2020),
 ('tgo0001', 'Tobiah', 'Gerek', 'Offield', 'goffield1u@addthis.com', 2020),
 ('tmc0001', 'Travis', 'Melba', 'Colbourne', 'mcolbourne2j@mapquest.com', 2017),
 ('tp0001', 'Trix', None, 'Pretswell', 'jpretswell1h@xrea.com', 2022),
 ('vcs0001', 'Veronika', 'Cordey', 'Simeons', 'csimeons2@microsoft.com', 2021),
 ('vem0001', 'Vincenty', 'Elisabeth', 'Marousek', 'emarousek10@huffingtonpost.com', 2020),
 ('vm0001', 'Vance', None, 'Maffioni', 'fmaffioni1r@amazon.com', 2020),
 ('wcm0001', 'Woodrow', 'Camile', 'Moughtin', 'cmoughtin17@illinois.edu', 2022),
 ('wk0001', 'Willi', None, 'Kerby', 'ekerby1p@amazon.com', 2020),
 ('ws0001', 'Winslow', None, 'Scrauniage', 'jscrauniage28@aol.com', 2017),
 ('zf0001', 'Zared', None, 'Fenelon', 'afenelona@themeforest.net', 2021)]

In [17]:
# Test that we loaded employees
%sql SELECT * FROM employee

 * mysql+pymysql://root:***@localhost
50 rows affected.

[('adw0001', 'Ailbert', 'Danie', 'Warmisham', 'dwarmishame@soundcloud.com', 'Staff'),
 ('ars0001', 'Ari', 'Rheta', 'Sellek', 'rsellek6@oakley.com', 'Lecturer'),
 ('brm0001', 'Bamby', 'Rubetta', 'Mabbs', 'rmabbs4@xing.com', 'Lecturer'),
 ('bs0001', 'Bonny', None, 'Scheffel', 'lscheffel7@taobao.com', 'Professor'),
 ('bsh0001', 'Bettina', 'Sonya', 'Higgonet', 'shiggonet2b@163.com', 'Lecturer'),
 ('cal0001', 'Cari', 'Andriana', 'Leask', 'aleask1n@devhub.com', 'Lecturer'),
 ('cg0001', 'Clim', None, 'Guislin', 'lguislin2o@chicagotribune.com', 'Professor'),
 ('cmw0001', 'Carey', 'Maudie', 'Wyrall', 'mwyrallj@scientificamerican.com', 'Staff'),
 ('cs0001', 'Christie', None, 'Siegertsz', 'hsiegertsz21@instagram.com', 'Professor'),
 ('ct0001', 'Carmine', None, 'Tolman', 'gtolmanr@slideshare.net', 'Staff'),
 ('da0001', 'Doyle', None, 'Aslin', 'jaslin24@redcross.org', 'Lecturer'),
 ('dm0002', 'Doug', None, 'Medforth', 'vmedforth1o@homestead.com', 'Staff'),
 ('dmw0001', 'Darrin', 'Mario', 'Wynrahame', 'mwynrahamem@admin.ch', 'Professor'),
 ('dss0001', 'Duncan', 'Shellie', 'Sillars', 'ssillars2l@unicef.org', 'Professor'),
 ('ef0001', 'Ethelin', None, 'Fidele', 'afidele12@google.ru', 'Lecturer'),
 ('ekm0001', 'Electra', 'Krystle', 'Morfell', 'kmorfell2g@istockphoto.com', 'Professor'),
 ('fm0001', 'Francene', None, 'MacNeely', 'nmacneely22@cpanel.net', 'Lecturer'),
 ('gb0001', 'Gisela', None, 'Blagden', 'gblagden1q@buzzfeed.com', 'Professor'),
 ('gp0001', 'Genni', None, 'Purbrick', 'lpurbrick25@canalblog.com', 'Professor'),
 ('hdc0001', 'Hobart', 'Dominic', 'Croal', 'dcroalx@purevolume.com', 'Professor'),
 ('hh0001', 'Holli', None, 'Henstridge', 'lhenstridgeh@sogou.com', 'Lecturer'),
 ('jnb0001', 'Jacky', 'Nydia', 'Bolles', 'nbolles23@ucoz.ru', 'Staff'),
 ('jsj0001', 'Jany', 'Sherry', 'Johl', 'sjohlg@soundcloud.com', 'Professor'),
 ('kb0001', 'Karon', None, 'Bree', 'ebree1z@creativecommons.org', 'Professor'),
 ('ki0001', 'Karole', None, 'Inkin', 'minkinc@google.de', 'Staff'),
 ('km0001', 'Kristin', None, 'Malacrida', 'smalacrida1w@economist.com', 'Staff'),
 ('kmp0001', 'Kahaleel', 'Meg', 'Penzer', 'mpenzer14@dailymail.co.uk', 'Professor'),
 ('lbb0001', 'Lemmy', 'Burr', 'Bradnocke', 'bbradnockek@nifty.com', 'Lecturer'),
 ('lcf0001', 'Lu', 'Cinnamon', 'Flaxman', 'cflaxman1b@cdbaby.com', 'Lecturer'),
 ('lef0001', 'Lelah', 'Ellette', 'Fulk', 'efulk1d@discuz.net', 'Staff'),
 ('ls0001', 'Lilllie', None, 'Snodin', 'jsnodin20@princeton.edu', 'Lecturer'),
 ('mdf0001', 'Marylin', 'Darcy', 'Favey', 'dfavey2p@mozilla.com', 'Staff'),
 ('mec0001', 'Maybelle', 'Esteban', 'Cella', 'ecella26@mail.ru', 'Staff'),
 ('mk0001', 'Meghan', None, 'Kleinschmidt', 'lkleinschmidtl@squarespace.com', 'Lecturer'),
 ('mks0001', 'Matthieu', 'Kalle', 'Slipper', 'kslipper2f@nytimes.com', 'Staff'),
 ('mt0001', 'Mendie', None, 'Tennick', 'ltennick3@aboutads.info', 'Staff'),
 ('ngf0001', 'Niki', 'Gardiner', 'Form', 'gform18@blogger.com', 'Staff'),
 ('nt0001', 'Nadia', None, 'Trehearn', 'ktrehearn19@tinyurl.com', 'Lecturer'),
 ('oh0001', 'Olwen', None, 'Hedley', 'jhedley1m@disqus.com', 'Staff'),
 ('pl0001', 'Pattie', None, 'Lyles', 'slyles1j@amazon.de', 'Staff'),
 ('rjc0001', 'Robinett', 'Jami', 'Charte', 'jcharte1y@merriam-webster.com', 'Staff'),
 ('rjp0001', 'Renae', 'Jaquith', 'Plessing', 'jplessing0@samsung.com', 'Staff'),
 ('sab0001', 'Sanders', 'Arline', 'Breckell', 'abreckell1x@fotki.com', 'Professor'),
 ('sbl0001', 'Sibylle', 'Bearnard', 'Lalley', 'blalley2d@rediff.com', 'Lecturer'),
 ('sh0001', 'Suki', None, 'Hellyar', 'ghellyar2a@cornell.edu', 'Staff'),
 ('skm0001', 'Sayers', 'Karon', 'McKnish', 'kmcknishs@reddit.com', 'Lecturer'),
 ('swr0001', 'Sasha', 'Win', 'Ruffli', 'wruffli2q@wordpress.com', 'Lecturer'),
 ('wy0001', 'Wells', None, 'Yousef', 'gyousef2r@spotify.com', 'Professor'),
 ('xak0001', 'Xenia', 'Ardella', 'Kief', 'akieft@free.fr', 'Staff'),
 ('ysm0001', 'Yehudi', 'Sile', 'McColley', 'smccolleyq@amazon.com', 'Staff')]

## Testing

Add your tests below. You should test

1. Successful execution of each procedure.
2. Execution of update procedures showing that your constraints prevent incorrect data entry and enforce the defined semantics and behavior.
3. ```general_user``` can query the data and call the procedures, but cannot perform ```INSERT```, ```UPDATE```, or ```DELETE```.

In [18]:
%%sql

delete from student;
delete from employee;

-- execution of create student and employee procedures
set @uni = '';
call create_student('John', 'K', 'Doe', 'jd@e.com', 2022, @uni);
call create_student('Jane', 'm', 'smith', 'jms0001@o.edu', 2020, @uni);
call create_employee('james', 'k', 'dawn', 'jd@el.com', 'Staff', @uni);
call create_student('robert', null, 'brown', 'yes@no.net', 2018, @uni);
call create_employee('joseph', null, 'kosher', 'ooo@n.en', 'Lecturer', @uni);
call create_employee('Robbie', null, 'Bain', 'n3@n3.v', 'Professor', @uni);
select * from people;

 * mysql+pymysql://root:***@localhost
50 rows affected.
50 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
6 rows affected.

[('jkd0001', 'John', 'K', 'Doe', 'jd@e.com', None, 2022),
 ('jms0001', 'Jane', 'm', 'smith', 'jms0001@o.edu', None, 2020),
 ('rb0001', 'robert', None, 'brown', 'yes@no.net', None, 2018),
 ('jk0001', 'joseph', None, 'kosher', 'ooo@n.en', 'Lecturer', None),
 ('jkd0002', 'james', 'k', 'dawn', 'jd@el.com', 'Staff', None),
 ('rb0002', 'Robbie', None, 'Bain', 'n3@n3.v', 'Professor', None)]

In [19]:
%%sql

-- execution of update student and employee procedures

-- update name
call update_student('jkd0001', 'Jack', 'L', 'Doe', NULL, NULL);
-- update email
call update_student('jms0001', NULL, NULL, NULL, 'jane.smith@example.com', NULL);
-- update first name, middle name, type
call update_employee('rb0002', 'Bob', 'Akshat', NULL, NULL, 'Lecturer');
-- uni cannot be updated this way
call update_employee('abc1234', 'Bob', 'Akshat', 'Bain', 'n3@n3.v', 'Lecturer');
select * from people;

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.
1 rows affected.
0 rows affected.
6 rows affected.

[('jld0001', 'Jack', 'L', 'Doe', 'jd@e.com', None, 2022),
 ('jms0001', 'Jane', 'm', 'smith', 'jane.smith@example.com', None, 2020),
 ('rb0001', 'robert', None, 'brown', 'yes@no.net', None, 2018),
 ('bab0001', 'Bob', 'Akshat', 'Bain', 'n3@n3.v', 'Lecturer', None),
 ('jk0001', 'joseph', None, 'kosher', 'ooo@n.en', 'Lecturer', None),
 ('jkd0002', 'james', 'k', 'dawn', 'jd@el.com', 'Staff', None)]

In [20]:
%sql mysql+pymysql://general_user:password@localhost -- switch to general_user
%sql use f23_hw2;

0 rows affected.
 * mysql+pymysql://general_user:***@localhost
   mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [21]:
%%sql

-- general_user can select
select * from people;

 * mysql+pymysql://general_user:***@localhost
   mysql+pymysql://root:***@localhost
6 rows affected.

[('jld0001', 'Jack', 'L', 'Doe', 'jd@e.com', None, 2022),
 ('jms0001', 'Jane', 'm', 'smith', 'jane.smith@example.com', None, 2020),
 ('rb0001', 'robert', None, 'brown', 'yes@no.net', None, 2018),
 ('bab0001', 'Bob', 'Akshat', 'Bain', 'n3@n3.v', 'Lecturer', None),
 ('jk0001', 'joseph', None, 'kosher', 'ooo@n.en', 'Lecturer', None),
 ('jkd0002', 'james', 'k', 'dawn', 'jd@el.com', 'Staff', None)]

In [22]:
%%sql

-- general_user can call procedures
call update_student('jld0001', 'John', 'I', 'Doe', NULL, NULL);
select * from people;

 * mysql+pymysql://general_user:***@localhost
   mysql+pymysql://root:***@localhost
1 rows affected.
6 rows affected.

[('jid0001', 'John', 'I', 'Doe', 'jd@e.com', None, 2022),
 ('jms0001', 'Jane', 'm', 'smith', 'jane.smith@example.com', None, 2020),
 ('rb0001', 'robert', None, 'brown', 'yes@no.net', None, 2018),
 ('bab0001', 'Bob', 'Akshat', 'Bain', 'n3@n3.v', 'Lecturer', None),
 ('jk0001', 'joseph', None, 'kosher', 'ooo@n.en', 'Lecturer', None),
 ('jkd0002', 'james', 'k', 'dawn', 'jd@el.com', 'Staff', None)]

In [23]:
%%sql

-- general_user cannot insert
INSERT INTO Student(first_name, middle_name, last_name, email, enrollment_year)
VALUES ('Alice', 'L', 'Johnson', 'a@d.com', 2021);

 * mysql+pymysql://general_user:***@localhost
   mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1142, "INSERT command denied to user 'general_user'@'localhost' for table 'student'")
[SQL: -- general_user cannot insert
INSERT INTO Student(first_name, middle_name, last_name, email, enrollment_year)
VALUES ('Alice', 'L', 'Johnson', 'a@d.com', 2021);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
%%sql

-- general_user cannot update
update Student
set first_name = 'Alice'
where 1=1;

 * mysql+pymysql://general_user:***@localhost
   mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1142, "UPDATE command denied to user 'general_user'@'localhost' for table 'student'")
[SQL: -- general_user cannot update
update Student
set first_name = 'Alice'
where 1=1;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [25]:
%%sql

-- general_user cannot delete
delete from student;

 * mysql+pymysql://general_user:***@localhost
   mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1142, "DELETE command denied to user 'general_user'@'localhost' for table 'student'")
[SQL: -- general_user cannot delete
delete from student;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)